:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1565c0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: #f5f5f5;
  --primary-color: #90caf9;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}
