name: PR checks

on:
    pull_request:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

            - name: Read Node.js version from .nvmrc
              id: nvm
              run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_OUTPUT

            - name: Use Node.js ${{ steps.nvm.outputs.NODE_VERSION }}
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
              with:
                  node-version: ${{ steps.nvm.outputs.NODE_VERSION }}

            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm test
